/**
 * @file
 * Customization for Dual
 *
 */

@import "base";

//
//
// Styles for the site
//
//

.site-header .site-banner{
	max-height:none;
}

header[role="banner"] > div{
	max-height:300px;
}

.site-name{
	display:none;
}